@page "/lobby/{RoomCode}"
@inject NavigationManager NavigationManager
@inject IUserRepository UserRepository
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))


@if(_isNotConnected)
{
    <h2 class="mb-4 text-center text-4xl font-extrabold text-red-900">Lobby is full or doesn't exist!</h2>
}

@if(CurrentRoom != null)
{
     <h2 class="mb-4 text-center text-4xl font-extrabold text-red-900">Room @RoomCode</h2>
    @if (_isGameStarted)
    {
        <QuizGame Id="@CurrentRoom!.Quiz.Id.ToString()" GameMode="@GameMode.MULTIPLAYER" HubConnection="@HubConnection" RoomCode="@RoomCode"/>
    }

     <button @onclick=HandleReadyButton>Ready</button>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class ="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">User</th>
            <th scope="col" class="px-6 py-3">Ready</th>
            <th scope="col" class="px-6 py-3">Points</th>
          </tr>
        </thead>
        <tbody>
    @foreach(var user in _players.Users)
            {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-white">
                    @user.Username
                </th>
            <td class="px-6 py-4">
                 @_players.PlayersStates[user.ConnectionId].IsReady
            </td>
            <td class="px-6 py-4">
                @_players.PlayersStates[user.ConnectionId].Points
            </td>
        </tr>
    }
    @foreach (var user in _players.Guests)
    {
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-white">
                    @user.Username
                </th>
                <td class="px-6 py-4">
                    @_players.PlayersStates[user.ConnectionId].IsReady
                </td>
                <td class="px-6 py-4">
                        @_players.PlayersStates[user.ConnectionId].Points
                </td>
        </tr>
    }
        </tbody>
        </table>
    @if(CurrentRoom.HostConnectionId == HubConnection.ConnectionId)
    {
        <button @onclick=HandlePlayButton class="@($"bg-{(_isReadyButtonEnabled ? "blue-700" : "gray-800")} text-white font-bold py-2 px-4 rounded")" disabled="@(!_isReadyButtonEnabled)">Play</button>
    }

}

@code {
    [Parameter]
    public string RoomCode { get; set; }

    public HubConnection? HubConnection { get; set; }
    public RoomDto? CurrentRoom { get; set; }
    private UserDto? _loggedUser = null;
    private Guest? _guest = null;
    private string? _userName = string.Empty;
    private PlayersInLobby _players = new();
    private bool _isNotConnected = false;
    private bool _isReadyButtonEnabled => _players.PlayersStates.Values.All(playerState => playerState.IsReady);
    private bool _isGameStarted = false;


    protected override async Task OnInitializedAsync()
    {
        _loggedUser = await UserRepository.GetLoggedUser();

        try
        {
            HubConnection = new HubConnectionBuilder().
                WithUrl(NavigationManager.ToAbsoluteUri("/gamehub")).
                Build();
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
            return;
        }

        HubConnection.On<PlayersInLobby>("PlayerJoined", (players) =>
        {
            
            foreach (var player in _players.Users)
            {
                players.PlayersStates[player.ConnectionId].IsReady = _players.PlayersStates[player.ConnectionId].IsReady;
                    
            }
            foreach (var player in _players.Guests)
            {
                players.PlayersStates[player.ConnectionId].IsReady = _players.PlayersStates[player.ConnectionId].IsReady;
            }
            _players = players;
            StateHasChanged();
        });

        //TODO: Switch ChangeReadyState to ChangePlayerState
        HubConnection.On<string>("OnPlayerChangedReadyState", (connectionId) =>
        {
            _players.PlayersStates[connectionId].IsReady = !_players.PlayersStates[connectionId].IsReady;
            StateHasChanged();
        });

        HubConnection.On<bool>("OnGameStarted", (val) =>
        {
            if (val == true)
                _isGameStarted = true;
            StateHasChanged();
        });

        HubConnection.On<string, int>("OnPointsChanged", (connectionId, points) =>
        {
            _players.PlayersStates[connectionId].Points = points;
            StateHasChanged();
        });

        //TODO: Score listener

        await HubConnection.StartAsync();

        if (_loggedUser == null)
        {
            _guest = new Guest { ConnectionId = HubConnection.ConnectionId!, Username = HubConnection.ConnectionId! };
            _userName = HubConnection.ConnectionId;
        }
        else
        {
            _loggedUser.ConnectionId = HubConnection.ConnectionId!;
            _userName = _loggedUser.Username;
        }


        //Create Room in SignalR if the client is host
        CurrentRoom = await HubConnection.InvokeAsync<RoomDto>("OpenRoom", RoomCode, _loggedUser, _guest);
        //Else join the room
        if(CurrentRoom == null)
        {
            CurrentRoom = await HubConnection.InvokeAsync<RoomDto>("JoinRoom", RoomCode, _loggedUser, _guest);
            if(CurrentRoom == null)
            {
                _isNotConnected = true;
            }

        }
    }

    async Task HandleReadyButton()
    {
        if (HubConnection != null)
            await HubConnection.InvokeAsync("ChangePlayerReadyState", RoomCode, HubConnection.ConnectionId);
    }

    async Task HandlePlayButton()
    {
        if (HubConnection != null)
             await HubConnection.InvokeAsync("StartGame", RoomCode, true);
    }

    
}
